name: Release
on:
  push:
    branches:
      - main
permissions: {}
concurrency:
  group: release
  cancel-in-progress: false

jobs:
  release-please:
    name: Please PR
    runs-on: ubuntu-latest
    if: github.repository_owner == 'aprendendofelipe'

    steps:
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${{secrets.RELEASE_PLEASE_GITHUB_TOKEN}}

    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}

  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    needs: release-please
    if: needs.release-please.outputs.release_created

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Publish to NPM
        run: pnpm publish
        timeout-minutes: 2
